{% extends "bootstrap/base.html" %}
{% block title %}Welcome to GrandPy!{% endblock %}
<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Welcome to GrandPy!</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      {% block styles %}
      {{super()}}
      <link rel="stylesheet"
            href="{{url_for('.static', filename='css/main.css')}}">
      {% endblock %}
      <!--<link rel="stylesheet" type="text/css" href="static/css/main.css">-->
    </head>
    <body>
      {% block content %}
      <div class="jumbotron text-center teste">
        <h1> Welcome to GrandPy!! </h1>
        <img src="https://cdn.pixabay.com/photo/2016/12/13/21/20/alien-1905155_960_720.png" alt="GrandPy" height="42" width="42">
      </div>
      <div class="container">
          <div class="row justify-content-md-center">
              <div class="col-xs-6">
                <form action = "/get_word" method = "POST">
                  <div class="input-group">
                    <input type="text" id="query" class="form-control" placeholder="Your question please">
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit" id="search">
                        <i  class="glyphicon glyphicon-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
                <div class="jumbotron message" id="message"></div>
                <form action = "/get_coord" method = "POST"></form>
                  <div class="jumbotron map" href="" id="url" >
                    <div id="googleMap" style="width:100%;height:200px;"></div>
                    <script async defer
                      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzBLThB4X_uOKoEh9TkgEj9IwN8ZtYk2w&callback=initMap"></script>
                  </div>
                </form>
              </div>
          </div> 
      </div>
      <footer>
        <div class="footer">
          <div class="panel-body"> DA SILVA Joana 
          <a href="https://github.com/Jvsdsilva/grandpyjs.git" target="_blank">
          <img src="https://banner2.kisspng.com/20180326/gxq/kisspng-github-computer-icons-icon-design-github-5ab8a31e334e73.4114704215220498222102.jpg" alt="Github" height="30" width="30">
          </a>  
        </div>
    </footer>
    </body>
    {% endblock %}
    <script src="../static/js/grandpy.js"></script>
    <script src="../static/js/ajax.js"></script>
</html>
