{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block title %}Welcome to GrandPy!{% endblock %}
<!DOCTYPE html>
    <head>
      <title>Welcome to GrandPy!</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      {% block styles %}
      {{super()}}
      <link rel="stylesheet"
            href="{{url_for('.static', filename='css/main.css')}}">
      {% endblock %}
    </head>
    <body>
      {% block content %}
      <div class="jumbotron text-center teste">
        <h1> Welcome to GrandPy!! </h1>
        <img src="https://cdn.pixabay.com/photo/2016/12/13/21/20/alien-1905155_960_720.png" alt="GrandPy" height="42" width="42">
      </div>
      <div class="container">
          <div class="row justify-content-md-center">
              <div class="col-xs-6">
                <form action = "/get_word" method = "GET">
                  <div class="input-group">
                    <input type="text" id="query" class="form-control" placeholder="Your question please">
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit" id="search">
                        <i  class="glyphicon glyphicon-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
                <div class="jumbotron message" id="message"></div>
                <form action = "/get_coord" method = "GET"></form>
                  <div class="jumbotron map" href="" id="url" >
                    <div id="googleMap" style="width:100%;height:200px;"></div>
                    <script async defer
                      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzBLThB4X_uOKoEh9TkgEj9IwN8ZtYk2w&callback=initMap"></script>
                  </div>
                </form>
              </div>
          </div> 
      </div>
      {%- block footer %}
      <footer>
        <div class="footer">
          <div class="panel-body"> DA SILVA Joana 
          <a href="https://github.com/Jvsdsilva/grandpyjs.git" target="_blank">
          <img src="https://banner2.kisspng.com/20180326/gxq/kisspng-github-computer-icons-icon-design-github-5ab8a31e334e73.4114704215220498222102.jpg" alt="Github" height="30" width="30">
          </a> 
          <a href="https://www.linkedin.com/in/joana-da-silva-02aa50a0/" target="_blank">
            <img src="https://www.google.fr/search?hl=pt-PT&tbm=isch&sxsrf=ACYBGNSNB5TyDhADG3tBPFVg3Bd6iDPS2A%3A1570871003730&source=hp&biw=1920&bih=937&ei=25ahXaP7KcPYaIqBusgJ&q=logo+linkedin&oq=logo+link&gs_l=img.1.0.0l9j0i30.733.4229..6002...1.0..0.295.1600.2j8j1......0....1..gws-wiz-img.....10..35i362i39j35i39.M9FS2G8XW7s#imgrc=0CYMM5P7QFwOsM:" alt="Linkedin" height="30" width="30">
          </a>  
        </div>
      </footer>
      {%- endblock footer %}
    </body>
    {% endblock %}
    {% block scripts %}
      <script src="{{url_for('.static', filename='js/grandpy.js')}}"></script>
      <script src="{{url_for('.static', filename='js/ajax.js')}}"></script>
    {{super()}}
    {% endblock %}
</html>
