<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Welcome to GrandPy!</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
    <body>
      <div class="jumbotron text-center teste">
        <h1> Welcome to GrandPy!! </h1>
        <img src="https://cdn.pixabay.com/photo/2016/12/13/21/20/alien-1905155_960_720.png" alt="GrandPy" height="42" width="42">
      </div>
      <div class="container">
        <form action = "/get_word" method = "GET">
          <div class="input-group">
            <input type="text" id="query" class="form-control" placeholder="Your question please">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit" id="search">
                <i  class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
        <div class="jumbotron message" id="message"></div>   
       <script>
         // display message
         $(document).ready(function() {
            $('#search').click(function(){
                var word = $('#query').val();
                $.ajax({
                url: "/get_word",
                type: "get",
                data: {word: word},
                success: function(response) {
                  $("#message").html(response.html);
                },
                error: function(xhr) {
                  console.log("erreur summary"+xhr)
                }
              });
            });
         });
       </script>
       <form action = "/get_coord" method = "get"></form>
        <div class="jumbotron map" href="" id="url" >
          <div id="googleMap" style="width:100%;height:400px;"></div>
          <script>
            $(document).ready(function() {
              $('#search').click(function(){
                  var word = $('#query').val();
                  $.ajax({
                    url: "/get_coord",
                    type: "get",
                    data: {word: word},
                    success: function(response) {
                      console.log(response)
                      // Loop through the results array and place a marker for each
                      // set of coordinates.
                      for (var x in response){
                        var building = response[x]
                      }
                      // data treatements
                      var split = building.split(",")
                      var lat = split[0]
                      var lng = split[1]
                      var latitude = lat.replace("[", '');
                      var longitude = lng.replace("]", '');
                      
                      // Display map and marker
                      function initMap() {
                        var mapDiv = document.getElementById('googleMap');
                        var map = new google.maps.Map(mapDiv, {
                          zoom: 10,
                          center: new google.maps.LatLng(latitude, longitude)
                        });
                        var coord= {lat: parseFloat(latitude), lng: parseFloat(longitude)};
                        var marker = new google.maps.Marker({
                          position: coord,
                          map:map
                        });
                      }
                      var coord= {lat: parseFloat(latitude), lng: parseFloat(longitude)};
                      var marker = new google.maps.Marker({
                          position: coord,
                          map:initMap()
                      });
                    },
                    error: function(xhr) {
                    console.log("erreur coordinates"+ xhr)
                  },
                });
              });
            });
          </script>
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>
      </div>
    </form>
      </div>
      <footer>
        <div class="panel panel-default ">
          <div class="panel-body foot"> DA SILVA Joana 
          <a href="https://github.com/Jvsdsilva/GrandPy.git">
          <img src="https://banner2.kisspng.com/20180326/gxq/kisspng-github-computer-icons-icon-design-github-5ab8a31e334e73.4114704215220498222102.jpg" alt="Github" height="30" width="30">
          </a>  
        </div>
    </footer>
    </body>
    <script src="static/JS/grandpy.js"></script>
</html>